* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fas{
    font-size: 70px;
  }
.title {
    display: flex;
    justify-content: center;
}
.grid-container {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
.back-face, .front-face {
    background-image: url(./photo-1557672172-298e090bd0f1.jpeg);
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .front-face {
    transform: rotateY(180deg);
  }
  .card-container {
    text-align: center;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  .card-container:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  .card-container.flip {
    transform: rotateY(180deg);
}
  @media (min-width: 300px) {
  }

  @media (min-width: 600px) {

  }

  @media (min-width: 900px) {
  }